.shop {
  margin: 50px 0;
  &__shoes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
  }
}
